*{
    margin: 0;
    padding: 0;
}
body{
    
      font-family: 'Work Sans';
}
/* nav section */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 30px 10px;
    

}
.logo{
    display: flex;
    gap: 15px;
}
.image{
    width: 60px;
    height: 45px;
    

}
.banner-img{
    background: #fff;
}
.logo h2{
    text-align: center;
    font-size: 2.7rem;
    font-weight: 700;
    color: #0B0223;
}
span{
    color: #ff42a5;
}
nav ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}
li .btn{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}
.btn{
    padding: 10px 20px;
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    border: none;
}
.btn i{
    color: rgba(211, 2, 2, 0.984);
    margin-left: 5px;
}

/* banner-section */
.banner-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-text h2{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.banner-text h1{
    text-align: center;
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
.banner-text ul{
    list-style: none;
    margin-bottom: 40px;
    

}
.banner-text ul li{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.banner-text li i{
    color: #ff42a5;
}
.btn-primary{
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 500;
    background: #ff42a5;
    padding: 15px 25px;
    border: none;
    border-radius: 48px;
}
.ex{
    background: #4EC5F7;
}

.photo{
    width: 100%;
}
/* gamer-section */
.gamer-section{
    display: flex;
    padding: 20px 100px;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
    
}
.gamer-img{
    width: 50%;
}
.gamer-text{
    text-align: right;
    width: 50%;
}
.gamer-text h2{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}
.gamer-text p{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 25px;
}
.gamer-text h4{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}
.gamer-text h3{
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}
/* online-game-section */
.online-game-section{
    background: #fff;
}
.titles{
    text-align: center;
    margin-top: 70px;
    padding: 20px 0;
}
.titles h2{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.titles p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.col{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-game{
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    gap: 10px;
}


.online-box p{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 20px;
}
.online-box{
    position: relative;
}
.ho h2{
    margin-bottom: 120px;
}
.ho i{
    color: #df2f07;
    font-size: 2rem;
    margin-top: 180px;
}
.ho{
    position: absolute;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    top: 0;
    left: 0;
    bottom: 0;
   text-align: center;
   height: 85%;
   width: 100%;
   color: rgb(255, 255, 255);
   background-color: #020d26ab;
   border: 2px solid rgb(238, 61, 7);
   
   visibility: hidden;
   transition: all linear 0.6s;
   opacity: 0;
}
.online-box:hover .ho{
    visibility: visible;
    opacity: 1;
}
/* play-section */
.play-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
    padding: 40px 20px;
    margin-bottom: 70px;
}
.play-text{
    width: 50%;
    text-align: right;
}
.play-text h2{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.play-text h3{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.play-text p{
    color: #534C64;
   font-size: 1.2rem;
   font-weight: 400;
}
.play-img{
    width: 50%;
    position: relative;
}

   

.play-img .ob{
    position: absolute;
    bottom: -70px;
    left: -120px;
}
/* careers-section */

.careers-section{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
   
}
.career-text{
    width: 50%;
    padding: 10px 20px;
    
}
.career-text h2{
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.career-text p{
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-1{}
.list-1 ul{
    list-style: none;
}
.list-1 ul li{
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}
.list-2{}
.list-2 ul{
    list-style: none;
}
.list-2 ul li{
    text-decoration: none;
    color: #FFF;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 600;
}
.career-img{
    width: 50%;
}
.ton{
    width: 650px;
    height: 650px;
}
.bo{
    background: #fff;
    color: #FF42A5;
    margin-top: 20px;
    font-weight: 700;
}
/* games-item */
.games-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 80px;
    background: #FFF;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}
.item h2{
    border: 2px solid #F948B2;
    border-radius: 48px;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.item h2:hover{
    background: #F948B2;
    color: #fff;
}

/* footer-section */

.footer-section{
    background: #0B0223;
    color: #fff;
   
}
.foot-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px 0;
    
   
    
}
.fot{
    height: 40px;
    width: 80px;
}
.foot-img h2{
    color: #fff;
}

.foot-list{
    padding: 20px 0;
}
.foot-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.foot-list ul li{
    text-decoration: none;
    margin-left: 60px;
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}


.foot-icon{
    padding: 20px 0;
}
.foot-icon ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 10px;
}
.foot-icon ul li{
    text-decoration: none;
    margin-left: 40px;
    color: #FFF;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}
.foot-icon ul li i{
    
}


.policy-list{}
.policy-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 15px 0;
    margin-bottom: 60px;
}
.policy-list ul li{
    text-decoration: none;
    margin-left: 60px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}
small{
    color: rgba(255, 255, 255, 0.60);
    
    font-size: 1rem;
    font-weight: 500;
   
}
.finished{
    text-align: center;
    padding: 20px 0;
    
}














/* Responsive divice */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        gap: 15px;
    }
    nav ul{
        flex-direction: column;
        gap: 15px;
    }
    .btn{
        margin-top: 20px;
    }
    .banner-section{
        flex-direction: column-reverse;
        gap: 20px;
        padding: 0 20px;
    }
    .gamer-section{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .gamer-text{
        width: 100%;
    }
    .gamer-img{
        width: 100%;
    }
    .online-game{
        flex-wrap: wrap;
    }
    .play-section{
        flex-direction: column-reverse;
    }
    .play-text{
        width: 100%;
        text-align: center;
    }
    .play-img{
        width: 100%;
    }
    .mi{
        width: 100%;
    }
    .ob{
        width: 50%;
    }
    
    .play-img .ob{
        position: absolute;
        bottom: -70px;
        left: -50px;
        padding-left: 10px;
    }
    .play-text h2{
        text-align: center;
    }
    .careers-section{
        flex-direction: column;
        padding: 5px 0px;
    }
    .career-img{
        width: 100%;
    }
    .ton{
        width: 100%;
    }
    .games-item{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 4px;
        padding: 5px 10px;
    }
    .foot-list ul,.foot-icon ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    .policy-list ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        padding: 0;
    }

    
}
@media screen and (min-width:576px) and (max-width:992px) {
    .banner-section{
        flex-direction: column-reverse;
        gap: 20px;
        padding: 0 20px;
    }
    .gamer-section{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .gamer-text{
        width: 100%;
    }
    .gamer-img{
        width: 100%;
    }
    .online-game{
        flex-wrap: wrap;
    }
    .play-section{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .play-text{
        width: 70%;
        text-align: center;
    }
    .play-img{
        width: 50%;
        margin-bottom: 60px;
        text-align: center;
        

    }
    .play-text h2{
        text-align: center;
    }
    .mi{
        width: 100%;
    }
    .ob{
        width: 70%;
    
}
.careers-section{
    flex-direction: column;
    padding: 10px 10px;
}
.career-img{
    width: 100%;
}
.ton{
    width: 100%;
}
}